<label for="fromAccount" i18n="@@NEW_TRANSACTION_FROM_ACCOUNT"
  >From Account</label
>
<input id="fromAccount" type="text" [formControl]="fromAccount" />

<label for="toAccount" i18n="@@NEW_TRANSACTION_TO_ACCOUNT">To Account</label>
<input id="toAccount" type="text" [formControl]="toAccount" />

<label for="amount" i18n="@@NEW_TRANSACTION_AMOUNT">Amount</label>
<input id="amount" type="text" [formControl]="amount" />

<button
  (click)="submit()"
  [disabled]="form.invalid"
  i18n="@@NEW_TRANSACTION_SUBMIT"
>
  Submit
</button>
