@font-face {
  font-family: Kanit;
  src: url('/assets/fonts/Kanit/Kanit-Regular.ttf');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Kanit;
  src: url('/assets/fonts/Kanit/Kanit-Regular.ttf') ;
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Kanit;
  src: url('/assets/fonts/Kanit/Kanit-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Kanit;
  src: url('/assets/fonts/Kanit/Kanit-Bold.ttf');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
