// fonts
$font-family: Kanit, sans-serif;

// colors
$primary-color: #17374f;
$secondary-color: #afb8bd;
$window-title-color: #0c8397;
$white-color: #ffffff;
$orange-color: #ee7033;
$green-color: #12a580;
$pink-color: #d51271;
$red-color: #c12020;
$blue-color: #1180aa;
$yellow-color: #fbbb1b;
$black-color: #000000;

// sizes
$font-sizes: (
    small: (
        font-size: 12px,
        line-height: 18px
    ),
    medium: (
        font-size: 14px,
        line-height: 21px
    ),
    big: (
        font-size: 24px,
        line-height: 36px
    )
);

// shadows
$box-shadow: 0 4px 32px 0 rgba($black-color, 0.32);

// spacing
$spacing: 8;
