@import "functions";
@import "variables";

:host {
  display: flex;
  flex: 1 0 0;
  padding: spacing(8) spacing(16);
  align-items: flex-start;

  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;

  .new-transaction {
    flex: 1 0 0;
  }

  .transaction-list {
    flex: 2 0 0;
    margin-left: spacing(4);
    max-height: 70vh;
  }
}
